* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

header {
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
    background-color: #674188;
    color: #FFFBF5;
    font-weight: 900;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #674188;
    color: #FFFBF5;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.sidebar {
    grid-area: sidebar;
    background-color: #F7EFE5;
}

.todoDisplay {
    grid-area: todoDisplay;
    background-color: #FFFBF5;
}

.main {
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(1fr, 25rem), 3fr;
    grid-template-areas: "sidebar todoDisplay todoDisplay todoDisplay";
}